global
    maxconn 4096

defaults
    mode tcp
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    option clitcpka

frontend db_front
    bind *:26257
    default_backend db_back

backend db_back
    option tcp-check
    # El principal de la región Sur
    server roach3 roach3:26257 check
    # Los respaldos
    server roach1 roach1:26257 check backup
    server roach2 roach2:26257 check backup

